<div class="container">
  <table mdbTable hover="true" striped="true">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr mdbTableCol *ngFor="let coffee of coffees | async"> -->
      <tr mdbTableCol *ngFor="let coffee of coffees">
        <td>{{coffee.name}}</td>
        <td>{{coffee.roaster}}</td>
        <td>{{coffee.rating}}</td>
      </tr>
      <button type="button" mdbBtn color="primary" mdbWavesEffect [routerLink]="['/coffee-create']">Add</button>
    </tbody>
  </table>
</div>
