<div class="container">
  <!-- Default form login -->
  <form class="text-center border border-light p-5" [formGroup]="coffeeForm" (ngSubmit)="onSubmit()" #formDir="ngForm">

    <p class=" h4 mb-4">Create New Coffee</p>

    <!-- Name -->
    <input type="text" id="name" class="form-control mb-4" placeholder="Coffee Name" formControlName="name" required>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

      <div *ngIf="name.errors">
        {{getErrorMessage(name)}}
      </div>
    </div>

    <!-- Roaster -->
    <input type="text" id="defaultLoginFormRoaster" class="form-control mb-4" placeholder="Roaster"
      formControlName="roaster" required>
    <div *ngIf="roaster.invalid && (roaster.dirty || roaster.touched)" class="alert alert-danger">

      <div *ngIf="roaster.errors">
        {{getErrorMessage(roaster)}}
      </div>
    </div>


    <!-- Rating -->
    <input type="number" id="defaultLoginFormRating" class="form-control mb-4" placeholder="Rating"
      formControlName="rating" required>

    <div *ngIf="rating.invalid && (rating.dirty || rating.touched)" class="alert alert-danger">

      <div *ngIf="rating.errors">
        {{getErrorMessage(rating)}}
      </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Submit</button>

  </form>
  <!-- Default form login -->
</div>
