<div class="container">
  <!-- Default form login -->
  <form class="text-center border border-light p-5" [formGroup]="coffeeForm" (ngSubmit)="onSubmit()" #formDir="ngForm">

    <p class=" h4 mb-4">Create New Coffee</p>

    <!-- Name -->
    <input type="text" id="name" class="form-control mb-4" placeholder="Coffee Name" formControlName="name" required>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

      <div *ngIf="name.errors">
        {{getErrorMessage(name)}}
      </div>
    </div>

    <!-- Roaster -->
    <input type="text" id="defaultLoginFormRoaster" class="form-control mb-4" placeholder="Roaster"
      formControlName="roaster" required>
    <div *ngIf="roaster.invalid && (roaster.dirty || roaster.touched)" class="alert alert-danger">

      <div *ngIf="roaster.errors">
        {{getErrorMessage(roaster)}}
      </div>
    </div>


    <!-- Rating -->
    <input type="number" id="defaultLoginFormRating" class="form-control mb-4" placeholder="Rating"
      formControlName="rating" required>

    <div *ngIf="rating.invalid && (rating.dirty || rating.touched)" class="alert alert-danger">

      <div *ngIf="rating.errors">
        {{getErrorMessage(rating)}}
      </div>
    </div>

    <!-- Submit button -->
    <button mdbBtn color="default" rounded="true" type="submit" [disabled]="coffeeForm.invalid"
      mdbWavesEffect>Submit</button>

  </form>
  <!-- Default form login -->
</div>


<div mdbModal #success="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Coffee Added Successfully</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="success.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
          <p>View your new Coffee?</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="success" class="waves-effect" mdbWavesEffect>Yes Please!</a>
        <!--TODO: When Yes button is pressed, go to the coffee Detail page.-->
        <a type="button" mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect
          routerLink="/coffee-list">No, thanks</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
